<div class="callout">
	<h3>Who are you looking for?</h3>
</div>
<section id="filters">
	<div class="contain">
		<div class="industry-filter">
			<div class="industry">Filter by Industry</div>
      <!-- DESIGN THE BELOW LIST -->
      <ul>
        <% @industries.each do |i| %>
          <li><%= link_to i, '#', style: 'color: #000' %></li>
        <% end %>
      </ul>
			<div class="dropdown inactive"></div>
		</div>
		<div class="distance-filter">
			<p class="category">Distance</p>
			<select id="mileage" class="mileage">
			  <option value="1">1mi</option>
			  <option value="5">5mi</option>
			  <option value="10" selected="selected">10mi</option>
			  <option value="15">15mi</option>
			</select>
		</div>
		<div class="locate-clients"><a href="#" data-remote="true">Locate Clients</a></div>
	</div>
</section>
<section id="map"></section>
<section id="list-view" class="clients-list">
	<div class="contain">
    <%= render 'layouts/clients_list', clients: @clients %>
	</div>
</section>
