<div class="callout">
	<h3>Who are you looking for?</h3>
</div>
<section id="filters">
	<div class="contain">
		<div class="industry-filter">
			<div class="industry">Filter by Industry</div>
			<div class="dropdown inactive"></div>
		</div>
		<div class="distance-filter">
			<p class="category">Distance</p>
			<div class="mileage">10mi</div>
			<div class="dropdown inactive"></div>
		</div>
		<div class="locate-clients"><a href="#">Locate Clients</a></div>	
	</div>
</section>
<section id="map"></section>
<section id="list-view">
	<div class="contain">
		<% num = 1 %>
		<% @clients.each do |c| %>
			<div class="list-detail">
				<div class="rank"><%= num %></div>
				<div class="business-name"><%= link_to "#{c.Name}", "/clients/#{c.id__c}" %></div>
				<div class="address-section">
					<div class="detail-pin"></div>
					<p class="address"><%= "#{c.address__c}" %></p>
				</div>
			</div>
			<% num += 1 %>
		<% end %>
	</div>
</section>
