<div class="main-wrapper">
	<div class="underlay"></div>
	<h1>Welcome</h1>
	<div class="signup_form inactive">
		<%= render 'signup' %>
	</div>
	<div class="signin_form inactive">
		<%= render 'signin' %>
	</div>
	<a href="#" class="signup">Sign Up</a>
	<a href="#" class="signin">Sign In</a>
</div>
