<div class="main-wrapper">
	<div class="underlay"></div>

	<div class="contain">
		<div class="welcoming">
			<h1>Welcome to Silver Cloud</h1>
			<h3>Prospecting Local Clients</h3>
			<div class="signup_form inactive">
				<%= render 'signup' %>
			</div>
			<div class="signin_form inactive">
				<%= render 'signin' %>
			</div>
			<div class="signup-container">
				<a href="#" class="signup">Sign Up</a>
			</div>
			<div class="signin-container">
				<a href="#" class="signin">Sign In</a>
			</div>
		</div>
	</div>
</div>
