<% num = 1 %>
<% clients.each do |c| %>
  <div class="list-detail">
    <div class="rank"><%= num %><img src="https://en.gravatar.com/userimage/49627792/0c14fe363f30cd4a8ecbf2b109abfac9.jpg" alt="gravatar image"></div>
    <div class="business-name"><%= link_to "#{c.Name}", "/clients/#{c.id__c}" %></div>
    <div class="address-section">
      <div class="detail-pin"></div>
      <p class="address"><%= "#{c.address__c}" %></p>
    </div>
  </div>
  <% num += 1 %>
<% end %>