<!DOCTYPE html>
<html>
<head>
  <title>SilverCloud</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/assets/map.css"/>
</head>
<body>
	<header>
		<div class="menu-btn" id="menu-btn">
		 <div></div>
		 <span></span>
		 <span></span>
		 <span></span>
     </div>
 
     <div class="responsive-menu">
        <ul>
           <li>1. Object</li>
           <li>2. Object</li>
        </ul>
     </div>
		<div class="logo"></div>
		<div class="search"></div>
	</header>
	<div class="main-wrapper">
		<%= yield %>
	</div>
</body>
</html>
